.login-container{
    max-width: 440px;
    padding: 0 20px;
    margin: 100px auto;
  }
  .wrapper{
    width: 100%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.1);
  }
  .wrapper .title{
    height: 90px;
    background: var(--cl--3--);
    border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 27px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrapper form{
    padding: 30px 25px 25px 25px;
  }
  .wrapper form .row{
    height: 45px;
    margin-bottom: 15px;
    position: relative;
  }
  .wrapper form .row input{
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 60px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    font-size: 14px;
    transition: all 0.3s ease;
  }
  form .row input:focus{
    border-color: var(--cl--3--);
    box-shadow: inset 0px 0px 2px 2px rgba(26,188,156,0.25);
  }
  form .row input::placeholder{
    color: #999;
  }
  .wrapper form .row i{
    position: absolute;
    width: 47px;
    height: 100%;
    color: #fff;
    font-size: 18px;
    background: var(--cl--3--);
    border: 1px solid var(--cl--3--);
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrapper form .row  .updatePackage{
    width: 77px;
    font-size: 15px;
  }
  .wrapper form .row .updatePackageInput{
    padding-left: 90px;
  }
  .wrapper form .button input{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding-left: 0px;
    background: var(--cl--3--);
    border: 1px solid var(--cl--3--);
    cursor: pointer;
  }
  form .button input:hover{
    background: var(--cl--3--);
  }
  .wrapper form .signup-link{
    text-align: center;
    margin-top: 20px;
    font-size: 17px;
  }
  .wrapper form .signup-link a{
    color: var(--cl--3--);
    text-decoration: none;
  }
  form .signup-link a:hover{
    text-decoration: underline;
  }
  